.image-container {
    position: center;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .containertext-center {
    position: bottom;
    background-position: bottom;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color:#3c1414; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;}