 /*styles for my website*/

#content{
    margin:0 auto;
    width: 900px;
}
 /*This is tp make my headline standout */
#Headline {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
   text-align: center;
}
#byline{
    font-family:sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
   text-align: center;
}
#byline2{
    font-family:sans-serif;
    font-size: 10px;
    font-weight: 200;
   text-align: center;
}
#Subhead{ 
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}
p{
    margin:0 auto;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 18px;
    width: 600px;
}
#caption{
    font-family:sans-serif;
    font-size: 15px;
}
#subheading2{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.Readmore{
    font-size: 18px;
    color: black;
    font-weight: 400;
}

blockquote{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}